/*main scss file*/
.carousel {
  display: none;
}

.category-content {
  margin: auto;
  padding: 10px;
  text-align: center;
  max-width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 10px;
}

.title, .titleItem {
  color: black;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
  cursor: pointer;
  font-weight: bold;
  line-height: 230px;
  transition: font-size 1s;
  /*&:hover {
    font-size: 55px;
    @include animation(spin 1s linear infinite);
  }*/
}

.titleItem {
  color: darkblue;
}

.back {
  border-radius: 10%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 250px;
  opacity: 0.6;
  transition: all 850ms ease-in-out;
}

.back.hover {
  transform: rotate(360deg);
  border-radius: 95%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
