/*main scss file*/
.carousel {
  display: none;
}

.category-content {
  margin: auto;
  padding: 10px;
  text-align: center;
  max-width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 10px;
}

.title, .titleItem {
  color: black;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
  cursor: pointer;
  font-weight: bold;
  line-height: 230px;
  transition: font-size 1s;
}

.title:hover, .titleItem:hover {
  font-size: 55px;
}

.titleItem {
  color: darkblue;
}

.back {
  border-radius: 10%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 250px;
  opacity: 0.6;
}

@-webkit-keyframes text {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes text {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}

@keyframes text {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
