//- out: . , compress: false

doctype html
html
  include ./templates/head.jade
  
  body
    include ./templates/nav.jade
    
    .content
    
    .modalContent
    
    include ./templates/add.jade
    
    include ./templates/modal.jade
    
    include ./templates/handlebars-templates.jade
          
    include ./templates/scriptsCDN.jade
    
