script(src="js/libraries/jquery.js")
script(src="js/libraries/handlebars.js")
script(src="js/libraries/tether.js")
script(src="js/libraries/bootstrap.js")
script(src="js/animalsData.js")
script(src="js/animals.js")
